.c-article {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
    z-index: 100;
    position: relative;
}

.c-article__inner {
    @include global-component-margins();
    @include para;
    margin-top: 0 !important;
    grid-column: col-start 1 / span 12;
    padding-bottom: $unit-xxlarge;

    @include media('>=desktop') {
        grid-column: col-start 2 / span 8;
        gap: $unit-xlarge 60px;
    }

    h2 {
        @include heading-xlarge;
        margin-bottom: $unit-large;
    }

    h3,
    h4,
    h5 {
        @include heading-large;
        margin-bottom: $unit-large;
    }

    p,
    ol,
    ul {
        @include para;
        margin-bottom: $unit-large;
    }

    ol,
    ul {
        list-style: auto;
        list-style-position: inside;
    }

    ul {
        list-style: disc;
        list-style-position: inside;
    }

    a {
        color: #0285bd;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    img {
        width: 100%;
        max-width: 100%;
        margin-bottom: $unit-large;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
