.c-banner {
    position: relative;
    height: 100vh;

    @include media('>=tablet') {
        height: 50vh;
        min-height: 520px;
    }

    @include media('>=desktop') {
        height: 100vh;
        min-height: 750px;
    }
}

.c-banner__grid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
    align-items: center;
    height: 100%;
    position: relative;

    @include media('>=tablet') {
        min-height: 520px;
    }

    @include media('>=desktop') {
        min-height: 750px;
    }
}

.c-banner__inner {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-column: col-start 2 / span 10;
    text-align: center;
    align-items: center;
    z-index: 10;
    gap: 20px;

    @include media('>=tablet') {
        grid-column: col-start 1 / span 12;
        text-align: left;
        padding: 0 20px;
    }

    @include media('>=desktop') {
        grid-column: col-start 2 / span 6;
    }

    header {
        grid-column: span 12;
        order: 2;
        text-align: center;

        @include media('>=tablet') {
            order: 1;
            grid-column: col-start 1 / span 6;
            text-align: left;
        }

        @include media('>=desktop') {
            grid-column: span 12;
        }
    }
}

.c-banner__header {
    margin-bottom: $unit-xsmall;

    @include media('>=desktop') {
        margin-bottom: $unit;
    }
}

.c-banner__intro {
    margin-bottom: $unit-small;

    @include media('>=tablet') {
        display: block;
    }

    @include media('>=desktop') {
        margin-bottom: $unit-xlarge;
        width: 80%;
    }
}

.c-banner__btn-wrapper {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;

    &.is-inview {
        opacity: 1;
        transform: translateY(0);
    }
}

.c-banner__btn {
    display: inline-block;
    //margin-bottom: $unit-xlarge;\
}

.c-banner__links {
    display: none;

    @include media('>=tablet') {
        display: block;
        position: absolute;
        bottom: 10rem;
        padding: 0 20px;
    }

    @include media('>=desktop') {
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include media('>=desktop') {
            width: 40%;
        }
    }

    li {
        @include font-montserrat-bold;
        @include font-size(1.5);
        display: inline-block;
        margin-right: $unit-large;
    }

    a {
        color: #000000;
        position: relative;

        &::after {
            content: '';
            background-color: #000000;
            bottom: -5px;
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }
    }
}

.c-banner__scroller {
    display: none;
    width: 50px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 99999px;
    position: absolute;
    bottom: 10rem;
    right: 20px;
    transform: rotateZ(90deg);
    transform-origin: top right;
    overflow: hidden;
    z-index: 100;

    @include media('>=desktop') {
        display: block;
    }

    &::after {
        content: '';
        background-color: #000000;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translate(5px, -50%);
        animation: 3s ease-in-out infinite scrollerIndicator;
    }
}

.c-banner__image-mobile {
    order: 1;
    grid-column: span 12;

    @include media('>=tablet') {
        grid-column: col-start 8 / span 5;
        order: 2;
        text-align: left;
    }

    @include media('>=desktop') {
        display: none;
    }

    img {
        width: 100%;
        max-width: 300px;

        @include media('>=tablet') {
            max-width: 100%;
        }
    }
}

.c-banner__image-desktop {
    display: none;

    @include media('>=desktop') {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
    }
}

@keyframes scrollerIndicator {
    from {
        transform: translate(0, -50%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        transform: translate(45px, -50%);
        opacity: 0;
    }
}
