.c-btn {
    @include font-montserrat-semibold;
    @include font-size(1.6);
    background-color: #029adb;
    border: solid 2px #0285bd;
    border-radius: 9999px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    line-height: 100%;
    padding: 12px 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: transparent;
        color: #0285bd;
    }

    // 1
    i {
        display: inline-block;
        margin-left: $global-spacing-unit-xxsmall;
        vertical-align: bottom;
    }

    @include media('>tablet') {
    }
}
