.c-header__container {
    grid-column: bleed-start / bleed-end;
    border-top: 8px solid #000000;
    position: absolute;
    width: 100%;
    z-index: 10000;

    @include media('>=desktop') {
        border-top: 12px solid #000000;
        position: fixed;
        width: 100%;
        z-index: 10000;
    }

    &.is-sticky {
        background-color: white;
    }
}

.c-header__inner {
    grid-column: main-start / main-end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.c-header__mobile-contact {
    @include font-size(1.6);
    position: absolute;
    left: 20px;

    &--isopen {
        color: #ffffff;
        z-index: 1000;
    }
}

.c-header__logo-mobile {
    z-index: 1000;
    width: 70px;

    svg {
        display: block;
    }
}

.c-header__burger {
    right: 20px;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 1000;

    span {
        background-color: #000000;
        position: absolute;
        display: inline-block;
        height: 2px;
        left: 0;
        width: 100%;
        transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right, 0.3s ease background-color;

        &:first-of-type {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-of-type {
            transform-origin: 32px;
            opacity: 1;
            bottom: 0;
        }
    }

    &--open {
        span {
            background-color: #ffffff;
            &:first-of-type {
                transform: rotateZ(45deg);
                top: 8px;
            }

            &:nth-of-type(2) {
                transform: translateY(-50%) rotateZ(-45deg);
            }

            &:last-of-type {
                opacity: 0;
                right: 100%;
                transform: rotateZ(45deg);
                bottom: 16px;
            }
        }
    }
}

.c-header__logo {
    margin-right: auto;
    background-color: #000000;
    width: 80px;
}

.c-header__nav {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
        @include font-size(1.6);
        display: inline-block;
        margin-bottom: 0;
        margin-right: 40px;

        &:last-of-type {
            margin: 0;
        }
    }

    a {
        color: #000000;
        position: relative;

        &::after {
            content: '';
            background-color: #000000;
            bottom: -5px;
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }
    }
}

.c-header__btn-contact {
    display: inline-block;
    margin-left: auto;
}

.c-header__mobile-nav {
    background-color: #000000;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    top: 0;
    left: 0;
    z-index: 100;

    li {
        @include font-size(3);
        @include font-montserrat-semibold;
        text-align: center;
        display: block;
        margin-bottom: 40px;

        &:last-of-type {
            margin: 0;
        }
    }
}

.c-header__btn-contact-mobile {
    margin-top: auto;
    margin-bottom: $unit;
}

.c-header__emailus {
    @include font-size(1.6);
    position: fixed;
    left: 2rem;
    bottom: 0;
    width: 100vh;
    text-align: center;
    z-index: 1000;
    transform: rotateZ(-90deg);
    transform-origin: top left;
    background-color: transparent;
    backface-visibility: hidden;
    mix-blend-mode: difference;

    strong {
        @include font-montserrat-bold;
        display: inline-block;
        padding-right: 34px;
        position: relative;
        margin-right: 4px;
        color: #ffffff;
        mix-blend-mode: difference;

        &::after {
            content: '';
            width: 30px;
            height: 2px;
            background-color: #ffffff;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    a {
        color: #ffffff;
    }
}
