.c-section-header {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 0;
    top: 120px;
    position: relative;
    height: 180px;
    margin-bottom: 120px;

    @include media('>=desktop') {
        top: 100px;
        position: relative;
        height: 380px;
    }
}

.c-section-header__ticker {
    position: absolute;
    width: 100vw;
    left: -2rem;

    h1,
    span {
        @include font-montserrat-bold;
        @include font-size(16);
        display: inline-block;
        color: rgba(196, 196, 196, 0.2);
        text-transform: uppercase;
        white-space: nowrap;
        margin-right: $unit-xxlarge;

        @include media('>=desktop') {
            @include font-size(38);
            margin-right: $unit-xxlarge * 3;
        }
    }
}

.c-section-header__inner {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 0 20px;
    z-index: 2;
    grid-column: col-start 1 / span 12;
}

.c-section-header__heading {
    grid-column: col-start 1 / span 12;

    @include media('>=desktop') {
        grid-column: col-start 2 / span 4;
    }
}
