.c-split-text {
    display: inline-block;
    overflow: hidden;
}
.c-split-text__word {
    display: inline-block;
    position: relative;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;

    &.is-inview {
        transform: translateY(0%);
    }
}
