.c-start-project {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 0 20px;
    background-color: #f7f7f7;
    position: relative;

    &:before {
        content: '';
        background-color: #f7f7f7;
        height: 100%;
        width: calc(100vw);
        position: absolute;
        top: 0;
        left: -2rem;
        z-index: 1;
    }
}

.c-start-project__inner {
    @include global-component-margins();
    grid-column: col-start 1 / span 10;
    z-index: 2;

    @include media('>=desktop') {
        grid-column: col-start 2 / span 4;
    }
}

.c-start-project__header {
    margin-bottom: $unit-large;

    @include media('>=desktop') {
        margin-bottom: $unit-xlarge;
    }
}

.c-start-project__intro {
    margin-bottom: $unit-large;

    @include media('>=desktop') {
        margin-bottom: $unit-xlarge;
    }
}

.c-start-project__btn {
}
