.c-tech {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 0 20px;
    padding-bottom: 130px;
    position: relative;
    background-color: #000000;

    @include media('>=desktop') {
        padding-bottom: 130px;
    }

    &:before {
        content: '';
        background-color: #000000;
        height: 100%;
        width: calc(100vw);
        position: absolute;
        top: 0;
        left: -2rem;
        z-index: 1;
    }
}

.c-tech__inner {
    @include global-component-margins();
    grid-column: col-start 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 0 20px;
    z-index: 2;

    @include media('>=desktop') {
        grid-column: col-start 2 / span 12;
    }
}

.c-tech__header {
    grid-column: col-start 1 / span 10;
    margin-bottom: $unit-large;
    color: #ffffff;

    @include media('>=desktop') {
        grid-column: col-start 1 / span 4;
        margin-bottom: $unit-xlarge;
    }
}

.c-tech__intro {
    @include font-size(1.4);
    line-height: 140%;
    grid-column: col-start 1 / span 10;
    margin-bottom: $unit-small;
    color: #ffffff;

    @include media('>=desktop') {
        grid-column: col-start 1 / span 4;
        margin-bottom: $unit-xlarge;
    }
}

.c-tech__items-container {
    grid-column: col-start 1 / span 12;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: -2rem;

    @include media('>=desktop') {
        bottom: 50px;
    }
}

.c-tech__items {
    display: inline-block;
}

.c-tech__item {
    display: flex;
    margin-right: $unit;
    align-items: center;
    height: 130px;
}
